/* a=0 b=0 c=1 -> Especificidad = 1 */
body {
    position: relative;
    margin: 0;
    padding-bottom: 5%;
    min-height: 100%;
    font-family: Ubuntu, Tahoma, sans-serif;
    background-color: plum;
   
}

/* a=0 b=0 c=1 Especificidad = 1*/
h1{
    text-align: center;
    padding: 40px 10px;
    color: black;
}



/* a=0 b=0 c=1 -> Especificidad = 1 */
main {
    margin: 0 auto;
    width: 100%;
    padding: 100px 100px;
    border-radius: 5%;
}

/* a=0 b=0 c=1 -> Especificidad = 1 */
form {
    margin: 5% 5%;
    width: 50%;
    padding: 5%;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(170, 221, 170);
}

/* a=0 b=0 c=2 -> Especificidad = 2 */
form input {
    border-radius: 5px;
}

/* a=0 b=1 c=2 -> Especificidad = 12 */
form input:active {
    background-color: gainsboro;
    color: black;
}

form p {
    height: 10%;
}

/* a=0 b=1 c=2 -> Especificidad = 12 */
form input[type=button] {
    width: 14%;
    padding: 10px;
    
}

/* a=0 b=1 c=2 -> Especificidad = 12 */
form input[type=text] {
    width: 100%;
    padding-left: 5%;
    background-color: white;
}


/* a=1 b=0 c=0 -> Especificidad = 100 */
.operation {
    background-color: grey;
    color: black;
}

/* a=1 b=0 c=0 -> Especificidad = 100 */
.number {
    color: black;
    background-color: paleturquoise;
}

/* a=1 b=0 c=0 -> Especificidad = 100 */
.memory {
    
    color: white;
    background-color: plum;
}

/* a=1 b=0 c= 0 Especificidad = 100*/
#pantalla {
    padding: 10px;
}


@media screen and (max-height: 480px) {
    /* a=0 b=0 c=1 -> Especificidad = 1 */
    body {
        position: static;
        padding: 10px;
        
    }
}