/*001*/
body{
    background-color:white;
    color:black;
}
/*001*/
h1{
    text-align:center;
    color:red;
}
/*001*/
h2{
    text-align:center;
    color:green;
}
/*001*/
h3{
    text-align:center;
    color:blue;
}
/*001*/
h4{
    text-align:center;
    color:black;
}
/*001*/
p{
  
    color:gray;
}