/*001*/
body{
    background: #bbccdd;
	font: 400 15px Tahoma, sans-serif;
}
/*002*/
h1, h2{
	text-align: justify;
}
/*001*/
p {
    text-align: justify;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*001*/
canvas {
	width: 400px;
	height: 400px;
	float:left;
	clear:left;
}
