
body{
    background: #bbccdd;
	font: 400 15px Tahoma, sans-serif;
}
h1, h2{
	text-align: justify;
}
p {
    text-align: justify;
	margin-top: 10px;
	margin-bottom: 10px;
}
canvas {
	width: 400px;
	height: 400px;
	float:left;
	clear:left;
}
