/* a=0 b=0 c=1 -> Especificidad = 1 */
body {
    position: relative;
   
    font-family: Ubuntu, Tahoma, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    background-color: lightcyan ;
    text-align: justify;
}

/* a=0 b=0 c=1 Especificidad = 1*/
h1{
    text-align: center;
    color: black;
    padding: 10px 10px;
   

    
}

/* a=0 b=0 c=1 -> Especificidad = 1 */
h2{
    color: purple;
}


/* a=0 b=0 c=1 -> Especificidad = 1 */
main {
 
    align-items: center;
}

section{

    margin-left: 5%;
}
